* {

    font-family: 'Oleo Script', cursive;

}

body {
    background-image: url("../img/index.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#naslov {
    font-size: 5vw;
    text-align: right;
    margin-top: 130px;
    margin-right: 10%;
    margin-bottom: 0px;
    font-family: 'Oleo Script', cursive;
    color: rgb(15, 15, 15);
    -webkit-text-fill-color: rgb(184, 28, 41);
    -webkit-text-stroke-width: 1px;
}

.forma {

    background-color: white;
    margin-top: 75px;
    margin-left: 800px;
    margin-right: auto;
    width: 40%;
    padding: 20px;
}

#ime,
#sifra {
    font-size: 30px;

}

#ime {
    margin-right: 50px;
}

#sifra {
    margin-right: 138px;
}

.polje {
    text-align: center;
    font-size: 15px;
    width: 40%;

}

#dugme {
    font-size: 20px;
    margin-left: 230px;
    margin-bottom: 30px;
    border-width: 2px;
    width: 43%;


}

button:hover {
    opacity: 0.8;
    border: rgb(255, 255, 255);
    cursor: pointer;
}